java-app:
  nameOverride: "my-bank-accounts"

  replicaCount: 1

  image:
    repository: my-bank-accounts
    pullPolicy: IfNotPresent
    tag: "latest"

  imagePullSecrets: []

  serviceAccount:
    create: false
    automount: true
    annotations: {}
    name: ""

  podAnnotations: {}
  podLabels: {}

  podSecurityContext: {}

  securityContext: {}

  service:
    type: ClusterIP
    port: 8080

  ingress:
    enabled: false
    className: ""
    annotations: {}
    hosts:
      - host: chart-example.local
        paths:
          - path: /
            pathType: ImplementationSpecific
    tls: []

  resources: {}

  autoscaling:
    enabled: false

  volumes: []

  volumeMounts: []

  nodeSelector: {}

  tolerations: []

  affinity: {}

  configmap:
    service:
      notifications:
        url: http://{{ .Release.Name }}-my-bank-notifications:8080

  env:
    - name: KEYCLOAK_ISSUER_URI
      value: "{{ .Values.global.keycloak.issuerUri }}"
    - name: KEYCLOAK_CLIENT_ID
      secretKeyRef:
        name: my-bank-secret
        key: accounts.keycloak.client.id
    - name: KEYCLOAK_CLIENT_SECRET
      secretKeyRef:
        name: my-bank-secret
        key: accounts.keycloak.client.secret
    - name: DB_HOST
      value: "{{ .Release.Name }}-postgresql"
    - name: DB_USERNAME
      secretKeyRef:
        name: my-bank-secret
        key: accounts.db.username
    - name: DB_PASSWORD
      secretKeyRef:
        name: my-bank-secret
        key: accounts.db.password